@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_password=UEpfUFRfODg4
//npm.bryntum.com/:username=patti.jorgensen..planettogether.com
//npm.bryntum.com/:email=patti.jorgensen@planettogether.com
//npm.bryntum.com/:always-auth=true
