@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_auth=cGF0dGkuam9yZ2Vuc2VuLi5wbGFuZXR0b2dldGhlci5jb206UEpfUFRfODg4
//npm.bryntum.com/:email=patti.jorgensen@planettogether.com
//npm.bryntum.com/:always-auth=true