modules = ["nodejs-20", "web", "bash", "python-3.11", "python3", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["freetds", "glibcLocales", "jq", "redis", "unixODBC", "unzip", "nano"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "dist/index.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000

[[ports]]
localPort = 33497

[[ports]]
localPort = 35123

[[ports]]
localPort = 35309

[[ports]]
localPort = 37527

[[ports]]
localPort = 38407

[[ports]]
localPort = 39085

[[ports]]
localPort = 39793

[[ports]]
localPort = 39953

[[ports]]
localPort = 40349

[[ports]]
localPort = 41077

[[ports]]
localPort = 41193

[[ports]]
localPort = 43627

[[ports]]
localPort = 43783

[[ports]]
localPort = 44205

[[ports]]
localPort = 45079

[[ports]]
localPort = 45281

[agent]
integrations = ["javascript_openai:1.0.0", "javascript_database:1.0.0"]
expertMode = true
